:root {
	--main-color: #E61739;
	
	--appearance: rgba(255, 255, 255, 1);
	--gray-0: rgba(0, 0, 0, .1);
	--gray-1: rgba(0, 0, 0, .2);
	--gray-2: rgba(0, 0, 0, .3);
	--gray-3: rgba(0, 0, 0, .4);
	--gray-4: rgba(0, 0, 0, .5);
	--gray-5: rgba(0, 0, 0, .6);

	--st-stroke-icon: 3;
	--nd-stroke-icon: 3;

	font-size: 10pt; /* Desktop */
}

/* @media 
only screen and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) 
and (orientation: portrait) { 
	:root {
		font-size: 20pt;
	}
} */

@media 
only screen and (min-device-width: 375px) 
and (max-device-width: 667px) { 
	:root {
		font-size: 20pt;
	}
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) { /* ipad */
	:root {
		font-size: 15pt;
		--st-stroke-icon: 4;
		--nd-stroke-icon: 3;
	}
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 3) { /* iPhone 13 mini */
	:root {
		font-size: 20pt;
		--st-stroke-icon: 4;
		--nd-stroke-icon: 3;
	}
}

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	touch-action: manipulation;
	cursor: pointer;
	
	margin: 0;
	padding: 0;

	font-family: 'Nunito', sans-serif;
	letter-spacing: -0.03rem;
}

::-webkit-scrollbar {
	display: none;
}

html {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;

	color: var(--gray-5);
}

body {
	/* display: flex;
	justify-content: center; */
}

.crd-container {
	max-width: 50rem;

	margin: auto;
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 1) { 
	.crd-container {
		max-width: 40rem;
	}
}

	.card {
		min-height: 12.5rem;

		border-radius: 3.5rem;
		box-shadow: 0 0 1.5rem 1rem var(--gray-1);

		/* animation-duration: .4s;
		animation-name: card-slidein; */
	}

	/* @keyframes
	card-slidein {
		from {
			width: 100%;
			margin-left: 100%;
		}

		to {
			width: 100%;
			margin-left: 0%;
		}
	} */
		.top-crd {
			padding: 1.8rem 2rem 1.2rem 2.2rem;

			background-color: var(--appearance);
			border-radius: 3.5rem 3.5rem 0 0;
			border-bottom: .1rem solid var(--gray-0);
		}

			.title-y-closeicon {
				display: flex;
				justify-content: space-between;
				align-items: center;

				padding: .5rem 0 0 .5rem;
			}

				.title-card {
					color: var(--main-color);
					font-size: 2.2rem;
					font-weight: 800;

					-webkit-user-select: all;
					   -moz-user-select: all;
					    -ms-user-select: all;
						    user-select: all;
				}

				.close-button {
					width: 3rem;
					height: 3rem;

					background-color: transparent;
					border-radius: 50%;
					border-style: none;
				}

				.close-icon-card {
					width: 2.8rem;
					height: 2.8rem;

					stroke: var(--main-color);
					stroke-width: var(--st-stroke-icon);
					border-style: none;
				}

			.description {
				margin-top: .5rem;

				font-size: 1.3rem;
				font-weight: 400;
				letter-spacing: .01rem;
				line-height: 1.5rem;

				-webkit-user-select: all;
				   -moz-user-select: all;
				    -ms-user-select: all;
					    user-select: all;
			}

			@supports not (-webkit-touch-callout: none) { /* CSS for other than iOS devices */
				.description, .title-card {

					-webkit-user-select: text;
					   -moz-user-select: text;
					    -ms-user-select: text;
						    user-select: text;
				}
			}

		.middle-crd {
			padding: 1.2rem 1.8rem 1.8rem 1.8rem;

			background-color: var(--appearance);
		}

			.img-crd {
				width: 100%;

				border-radius: 1rem;
			}

			.opt-title {
				margin-top: 2rem;

				color: var(--gray-2);
				font-size: 1.8rem;
				text-transform: uppercase;
			}

			.opt-container {
				display: flex;
				justify-content: space-between;

				margin-top: 2rem;

				font-size: 1.5rem;
			}

			.opt {
				display: flex;
				align-items: center;
			}

			.icon-opcion {
				width: 2.5rem;
				height: 2.5rem;

				margin-right: 1rem;

				stroke: var(--gray-1);
				stroke-width: var(--nd-stroke-icon);
			}

			.opt-price {
				margin-right: .5rem;
			}

			.notas {
				width: 100%;
				height: 3rem;

				margin-top: 2rem;

				color: var(--main-color);
				font-size: 1.8rem;
				text-transform: capitalize;
				outline: none;
				border: none;
				border-bottom: .1rem solid var(--gray-0);
			}

				.notas::placeholder{
					color: var(--gray-3);
					font-style: italic;
				}

				.notas:focus {
					border-bottom: .1rem solid var(--gray-2);
				}

			.input-search-active {
				display: auto;

				width: 100%;
				margin-left: 10px;
				
				color: var(--gray-text);
				font-size: 22px;

				background: none;
				outline: none;
				border: none;
			}

		.bottom-crd {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding: 1.6rem 2.8rem 1.8rem 1.8rem;

			background-color: var(--appearance);
			border-radius: 0 0 3rem 3rem;
			border-top: 0.1rem solid var(--gray-0);
			box-shadow: 0 0 2.5rem 1.5rem rgba(0, 0, 0, 0.05);
		}

			.bg-icon {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 3.2rem;
				height: 3.2rem;

				background-color: var(--main-color);
				border-radius: 50%;
				border-style: none;
			}

			.minus-icon {
				margin-right: 1.2rem;
			}

			.plus-icon {
				margin-left: 1.2rem;
			}

			.plus-minus-icons {
				display: flex;
				align-items: center;
			}

				.m-icon,
				.p-icon {
					width: 2.5rem;
					height: 2.5rem;

					stroke: #FFF;
					stroke-width: var(--st-stroke-icon);
				}

				.amount,
				.quant {
					font-size: 1.8rem;
					font-weight: 800;
				}

			.dis {
				background-color: var(--gray-0);
			}

	.btn {
		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;

		height: 5.7rem;

		padding: 2rem 1.5rem 2rem 3rem;

		color: #FFF;
		font-size: 1.8rem;
		font-weight: 800;
		text-transform: uppercase;
		background-color: var(--main-color);
		border-radius: 5rem;
		border-style: none;

		/* animation-duration: .7s;
		animation-name: btn-slidein;
		animation-delay: .4s; */
	}

	/* @keyframes
	btn-slidein {
		0% {
			filter: opacity(0);
			transform: scale(1);
		}

		75% {
			transform: scale(1.05);
		}

		100% {
			filter: opacity(1);
			transform: scale(1);
		}
	} */

		.total-price {
			display: flex;
			align-items: center;

			height: 2.9rem;

			padding: .4rem 1.4rem .4rem 1.4rem;
			
			font-size: 1.5rem;
			font-weight: 200;
			background-color: var(--gray-0);
			border-radius: 5rem;
		}

		.cart-icon {
			width: 1.6rem;
			height: 1.6rem;

			margin-right: .7rem;

			stroke: rgba(255, 255, 255, .8);
			stroke-width: 1px;
		}

.crd-container {
	position: relative;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr auto;
	gap: 1.5rem;

	
	height: -webkit-fill-available;
	height: -moz-available;
	height: fill-available;
	height: 100%;

	padding: 1.5rem;
}

@supports (-webkit-touch-callout: none) { /* CSS specific to iOS devices */
	.crd-container {
		/* padding-bottom: 0; */
	}
}

@supports not (-webkit-touch-callout: none) { /* CSS for other than iOS devices */
	/* * {
		-webkit-user-select: none;
		   -moz-user-select: none;
  		    -ms-user-select: none;
  		        user-select: none;
	} */
}

		.card {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;

			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto 1fr auto;

			overflow: auto;
		}

				.top-crd {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 2;
				}

				.middle-crd {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 2;
					grid-row-end: 3;

					overflow: auto;
				}

				.bottom-crd {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 3;
					grid-row-end: 4;
				}

		.btn {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 3;

			position: relative;
			bottom: 0rem;
		}

@viewport {
	width: extend-to-zoom;
	zoom: 1.0;
}

@-ms-viewport {
	width: extend-to-zoom;
	zoom: 1.0;
}

.display {
	display: none;
}

/* .index {
	align-self: center;
	position: absolute;
	z-index: 0;
} */

/*
animation-duration: .5s;
animation-name: card-slidein;		
*/

/*
@keyframes
card-slidein {
	from {
		width: 100%;
		margin-left: 100%;
	}

	to {
		width: 100%;
		margin-left: 0%;
	}
}
*/